Change access token request to HTTP POST

According to [RFC 6749, section 4.3.2](https://tools.ietf.org/html/rfc6749#section-4.3.2), the access token request is made using HTTP POST with parameters added to the request entity-body, for example:

```
POST /token HTTP/1.1
Host: server.example.com
Authorization: Basic czZCaGRSa3F0MzpnWDFmQmF0M2JW
Content-Type: application/x-www-form-urlencoded

grant_type=password&username=johndoe&password=A3ddj3w
```
